In [51]:
import pandas as pd

datapath_2013 = 'Y:\\okofm\\tfl\\journey_data\\cyclehireusagestats-2013\\'

data1 = pd.read_csv(datapath_2013 + '1. Journey Data Extract 01Jan-05Jan13.csv')
data2 = pd.read_csv(datapath_2013 + '2. Journey Data Extract 06Jan-02Feb13.csv')

data = data1.append(data2)
data

#transform duration into minutes
data['Duration'] = data['Duration']/60
data

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,18884041,4.516667,4313.0,02/01/2013 13:32,251.0,"Brushfield Street, Liverpool Street",02/01/2013 13:28,509,"Fore Street, Guildhall"
1,18905547,6.066667,7755.0,03/01/2013 17:19,251.0,"Brushfield Street, Liverpool Street",03/01/2013 17:13,509,"Fore Street, Guildhall"
2,18941512,6.200000,1193.0,04/01/2013 16:26,251.0,"Brushfield Street, Liverpool Street",04/01/2013 16:20,509,"Fore Street, Guildhall"
3,18940395,26.766667,7163.0,04/01/2013 08:36,368.0,"Harriet Street, Knightsbridge",04/01/2013 08:10,62,"Cotton Garden Estate, Kennington"
4,18944057,22.533333,4423.0,05/01/2013 16:58,386.0,"Moor Street, Soho",05/01/2013 16:36,144,"Kennington Cross, Kennington"
5,18869989,27.433333,161.0,01/01/2013 11:51,329.0,"Prince Albert Road, Regent's Park",01/01/2013 11:24,326,"Graham Street, Angel"
6,18873706,11.566667,1673.0,01/01/2013 18:10,45.0,"Harewood Avenue, Marylebone",01/01/2013 17:59,116,"Little Argyll Street, West End"
7,18925527,12.283333,2799.0,04/01/2013 18:28,196.0,"Union Street, The Borough",04/01/2013 18:16,156,"New Kent Road, Borough"
8,18944247,5.816667,4124.0,05/01/2013 15:48,196.0,"Union Street, The Borough",05/01/2013 15:42,156,"New Kent Road, Borough"
9,18945866,27.983333,7398.0,05/01/2013 17:57,2.0,"Phillimore Gardens, Kensington",05/01/2013 17:29,386,"Moor Street, Soho"
10,18886658,6.300000,6576.0,02/01/2013 19:07,196.0,"Union Street, The Borough",02/01/2013 19:01,156,"New Kent Road, Borough"
11,18877625,18.016667,8124.0,01/01/2013 18:17,144.0,"Kennington Cross, Kennington",01/01/2013 17:59,116,"Little Argyll Street, West End"
12,18879619,17.950000,7585.0,01/01/2013 11:54,159.0,"Great Marlborough Street, Soho",01/01/2013 11:36,86,"Sancroft Street, Vauxhall"
13,18886440,14.283333,4329.0,02/01/2013 08:25,159.0,"Great Marlborough Street, Soho",02/01/2013 08:11,86,"Sancroft Street, Vauxhall"
14,18946752,13.633333,861.0,05/01/2013 10:54,159.0,"Great Marlborough Street, Soho",05/01/2013 10:40,86,"Sancroft Street, Vauxhall"
15,18905623,14.883333,5625.0,03/01/2013 08:24,159.0,"Great Marlborough Street, Soho",03/01/2013 08:09,86,"Sancroft Street, Vauxhall"
16,18919033,18.933333,6849.0,03/01/2013 13:04,305.0,"Kennington Lane Tesco, Vauxhall",03/01/2013 12:46,159,"Great Marlborough Street, Soho"
17,18937761,15.533333,8587.0,04/01/2013 08:23,159.0,"Great Marlborough Street, Soho",04/01/2013 08:08,86,"Sancroft Street, Vauxhall"
18,18922728,33.516667,7554.0,04/01/2013 18:00,2.0,"Phillimore Gardens, Kensington",04/01/2013 17:27,225,"Notting Hill Gate Station, Notting Hill"
19,18872324,11.200000,6608.0,01/01/2013 06:49,546.0,"New Fetter Lane, Holborn",01/01/2013 06:38,295,"Swan Street, The Borough"
20,18892341,11.200000,4492.0,02/01/2013 07:02,546.0,"New Fetter Lane, Holborn",02/01/2013 06:51,295,"Swan Street, The Borough"
21,18903687,11.533333,3552.0,03/01/2013 06:48,546.0,"New Fetter Lane, Holborn",03/01/2013 06:36,295,"Swan Street, The Borough"
22,18921196,12.433333,842.0,04/01/2013 06:54,546.0,"New Fetter Lane, Holborn",04/01/2013 06:41,295,"Swan Street, The Borough"
23,18919901,16.450000,3202.0,04/01/2013 15:25,194.0,"Hop Exchange, The Borough",04/01/2013 15:09,386,"Moor Street, Soho"
24,18895284,8.300000,671.0,02/01/2013 17:25,326.0,"Graham Street, Angel",02/01/2013 17:17,227,"Great Percy Street, Clerkenwell"
25,18928454,8.633333,2510.0,04/01/2013 13:41,67.0,"Hatton Garden, Holborn",04/01/2013 13:32,42,"Wenlock Road , Hoxton"
26,18882692,5.866667,1503.0,02/01/2013 07:52,101.0,"Queen Street, Bank",02/01/2013 07:46,78,"Sadlers Sports Centre, Finsbury"
27,18905226,6.166667,3464.0,03/01/2013 08:05,101.0,"Queen Street, Bank",03/01/2013 07:59,78,"Sadlers Sports Centre, Finsbury"
28,18928163,11.950000,4341.0,04/01/2013 08:10,101.0,"Queen Street, Bank",04/01/2013 07:58,107,"Finsbury Leisure Centre, St. Luke's"
29,18921055,18.050000,7672.0,04/01/2013 15:49,213.0,"Wellington Arch, Hyde Park",04/01/2013 15:31,133,"Derry Street, Kensington"
...,...,...,...,...,...,...,...,...,...
511073,19459463,13.166667,8094.0,03/02/2013 00:04,522.0,"Clinton Road, Mile End",02/02/2013 23:51,202,"Leman Street, Aldgate"
511074,19467168,6.266667,8088.0,02/02/2013 23:57,503.0,"Cleveland Way, Bethnal Green",02/02/2013 23:51,33,"Altab Ali Park, Whitechapel"
511075,19471016,5.716667,3817.0,02/02/2013 23:57,466.0,"Whiston Road, Haggerston",02/02/2013 23:51,31,"Fanshaw Street, Hoxton"
511076,19460303,5.066667,542.0,02/02/2013 23:57,495.0,"Bow Church Station, Bow",02/02/2013 23:52,467,"Southern Grove, Bow"
511077,19464755,2.783333,857.0,02/02/2013 23:55,33.0,"Altab Ali Park, Whitechapel",02/02/2013 23:52,115,"Braham Street, Aldgate"
511078,19473800,10.050000,4271.0,03/02/2013 00:02,87.0,"Devonshire Square, Liverpool Street",02/02/2013 23:52,237,"Vaughan Way, Wapping"
511079,19462082,8.133333,8997.0,03/02/2013 00:01,64.0,"William IV Street, Strand",02/02/2013 23:53,221,"Horseferry Road, Westminster"
511080,19469698,6.000000,8408.0,02/02/2013 23:59,219.0,"Bramham Gardens, Earl's Court",02/02/2013 23:53,163,"Sloane Avenue, Knightsbridge"
511081,19468900,4.500000,5112.0,02/02/2013 23:58,399.0,"Brick Lane Market, Shoreditch",02/02/2013 23:53,251,"Brushfield Street, Liverpool Street"
511082,19462367,25.483333,7663.0,03/02/2013 00:19,173.0,"Waterloo Roundabout, Waterloo",02/02/2013 23:53,278,"Tooley Street, Bermondsey"
511083,19474190,4.600000,3892.0,02/02/2013 23:58,355.0,"Oval Way, Lambeth",02/02/2013 23:54,144,"Kennington Cross, Kennington"
511084,19461318,25.033333,1210.0,03/02/2013 00:19,173.0,"Waterloo Roundabout, Waterloo",02/02/2013 23:54,278,"Tooley Street, Bermondsey"
511085,19470000,17.016667,3423.0,03/02/2013 00:11,533.0,"Wellington Row, Bethnal Green",02/02/2013 23:54,93,"Cloudesley Road, Angel"
511086,19463107,4.266667,6113.0,02/02/2013 23:58,355.0,"Oval Way, Lambeth",02/02/2013 23:54,144,"Kennington Cross, Kennington"
511087,19472566,14.866667,7599.0,03/02/2013 00:09,553.0,"Regent's Row , Haggerston",02/02/2013 23:54,95,"Aldersgate Street, Barbican"
511088,19469569,16.583333,3326.0,03/02/2013 00:11,533.0,"Wellington Row, Bethnal Green",02/02/2013 23:54,93,"Cloudesley Road, Angel"
511089,19472770,45.500000,3900.0,03/02/2013 00:40,354.0,"Northumberland Avenue, Strand",02/02/2013 23:55,64,"William IV Street, Strand"
511090,19464003,83.766667,9146.0,03/02/2013 01:18,39.0,"Shoreditch High Street, Shoreditch",02/02/2013 23:55,483,"Albert Gardens, Stepney"
511091,19470500,9.933333,8363.0,03/02/2013 00:05,39.0,"Shoreditch High Street, Shoreditch",02/02/2013 23:55,115,"Braham Street, Aldgate"
511092,19461182,16.216667,4682.0,03/02/2013 00:11,33.0,"Altab Ali Park, Whitechapel",02/02/2013 23:55,483,"Albert Gardens, Stepney"
511093,19465872,5.316667,499.0,03/02/2013 00:01,270.0,"Kennington Lane Rail Bridge, Vauxhall",02/02/2013 23:56,91,"Walnut Tree Walk, Vauxhall"
511094,19468808,38.650000,1067.0,03/02/2013 00:34,483.0,"Albert Gardens, Stepney",02/02/2013 23:56,386,"Moor Street, Soho"
511095,19459341,11.166667,9023.0,03/02/2013 00:08,515.0,"Russell Gardens, Holland Park",02/02/2013 23:57,573,"Limerston Street, Chelsea"
511096,19467055,11.366667,7703.0,03/02/2013 00:09,14.0,"Belgrove Street , King's Cross",02/02/2013 23:57,135,"Clerkenwell Green, Clerkenwell"
511097,19471392,6.233333,8222.0,03/02/2013 00:04,77.0,"Russell Square Station, Bloomsbury",02/02/2013 23:58,256,"Houghton Street, Strand"
511098,19460946,490.833333,2475.0,03/02/2013 08:09,64.0,"William IV Street, Strand",02/02/2013 23:58,64,"William IV Street, Strand"
511099,19464626,13.716667,6270.0,03/02/2013 00:12,344.0,"Goswell Road (City Uni), Finsbury",02/02/2013 23:59,162,"Southampton Place, Holborn"
511100,19462054,41.216667,522.0,03/02/2013 00:40,354.0,"Northumberland Avenue, Strand",02/02/2013 23:59,64,"William IV Street, Strand"
511101,19473684,5.316667,8924.0,03/02/2013 00:04,479.0,"Pott Street, Bethnal Green",02/02/2013 23:59,132,"Bethnal Green Road, Shoreditch"
511102,19466895,17.400000,6671.0,03/02/2013 00:16,68.0,"Theobalds Road , Holborn",02/02/2013 23:59,194,"Hop Exchange, The Borough"

In [64]:
#adding day of the week, year, quarter, month, week, day, hour, minute
data['year'] = pd.to_datetime(data['Start Date'],format='%d/%m/%Y %H:%M').dt.year
data['quarter'] = pd.to_datetime(data['Start Date'],format='%d/%m/%Y %H:%M').dt.quarter
data['month'] = pd.to_datetime(data['Start Date'],format='%d/%m/%Y %H:%M').dt.month
data['week'] =  pd.to_datetime(data['Start Date'],format='%d/%m/%Y %H:%M').dt.week
data['day'] =  pd.to_datetime(data['Start Date'],format='%d/%m/%Y %H:%M').dt.day
data['hour'] =  pd.to_datetime(data['Start Date'],format='%d/%m/%Y %H:%M').dt.hour
data['minute'] =  pd.to_datetime(data['Start Date'],format='%d/%m/%Y %H:%M').dt.minute
data['day_of_week'] = pd.to_datetime(data['Start Date'],format='%d/%m/%Y %H:%M').dt.dayofweek
days = {0:'Mon',1:'Tues',2:'Weds',3:'Thurs',4:'Fri',5:'Sat',6:'Sun'}
data['day_of_week'] = data['day_of_week'].apply(lambda x: days[x])

data

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,day_of_week,year,month,quarter,week,day,hour,minute
0,18884041,4.516667,4313.0,02/01/2013 13:32,251.0,"Brushfield Street, Liverpool Street",02/01/2013 13:28,509,"Fore Street, Guildhall",Weds,2013,1,1,1,2,13,28
1,18905547,6.066667,7755.0,03/01/2013 17:19,251.0,"Brushfield Street, Liverpool Street",03/01/2013 17:13,509,"Fore Street, Guildhall",Thurs,2013,1,1,1,3,17,13
2,18941512,6.200000,1193.0,04/01/2013 16:26,251.0,"Brushfield Street, Liverpool Street",04/01/2013 16:20,509,"Fore Street, Guildhall",Fri,2013,1,1,1,4,16,20
3,18940395,26.766667,7163.0,04/01/2013 08:36,368.0,"Harriet Street, Knightsbridge",04/01/2013 08:10,62,"Cotton Garden Estate, Kennington",Fri,2013,1,1,1,4,8,10
4,18944057,22.533333,4423.0,05/01/2013 16:58,386.0,"Moor Street, Soho",05/01/2013 16:36,144,"Kennington Cross, Kennington",Sat,2013,1,1,1,5,16,36
5,18869989,27.433333,161.0,01/01/2013 11:51,329.0,"Prince Albert Road, Regent's Park",01/01/2013 11:24,326,"Graham Street, Angel",Tues,2013,1,1,1,1,11,24
6,18873706,11.566667,1673.0,01/01/2013 18:10,45.0,"Harewood Avenue, Marylebone",01/01/2013 17:59,116,"Little Argyll Street, West End",Tues,2013,1,1,1,1,17,59
7,18925527,12.283333,2799.0,04/01/2013 18:28,196.0,"Union Street, The Borough",04/01/2013 18:16,156,"New Kent Road, Borough",Fri,2013,1,1,1,4,18,16
8,18944247,5.816667,4124.0,05/01/2013 15:48,196.0,"Union Street, The Borough",05/01/2013 15:42,156,"New Kent Road, Borough",Sat,2013,1,1,1,5,15,42
9,18945866,27.983333,7398.0,05/01/2013 17:57,2.0,"Phillimore Gardens, Kensington",05/01/2013 17:29,386,"Moor Street, Soho",Sat,2013,1,1,1,5,17,29
10,18886658,6.300000,6576.0,02/01/2013 19:07,196.0,"Union Street, The Borough",02/01/2013 19:01,156,"New Kent Road, Borough",Weds,2013,1,1,1,2,19,1
11,18877625,18.016667,8124.0,01/01/2013 18:17,144.0,"Kennington Cross, Kennington",01/01/2013 17:59,116,"Little Argyll Street, West End",Tues,2013,1,1,1,1,17,59
12,18879619,17.950000,7585.0,01/01/2013 11:54,159.0,"Great Marlborough Street, Soho",01/01/2013 11:36,86,"Sancroft Street, Vauxhall",Tues,2013,1,1,1,1,11,36
13,18886440,14.283333,4329.0,02/01/2013 08:25,159.0,"Great Marlborough Street, Soho",02/01/2013 08:11,86,"Sancroft Street, Vauxhall",Weds,2013,1,1,1,2,8,11
14,18946752,13.633333,861.0,05/01/2013 10:54,159.0,"Great Marlborough Street, Soho",05/01/2013 10:40,86,"Sancroft Street, Vauxhall",Sat,2013,1,1,1,5,10,40
15,18905623,14.883333,5625.0,03/01/2013 08:24,159.0,"Great Marlborough Street, Soho",03/01/2013 08:09,86,"Sancroft Street, Vauxhall",Thurs,2013,1,1,1,3,8,9
16,18919033,18.933333,6849.0,03/01/2013 13:04,305.0,"Kennington Lane Tesco, Vauxhall",03/01/2013 12:46,159,"Great Marlborough Street, Soho",Thurs,2013,1,1,1,3,12,46
17,18937761,15.533333,8587.0,04/01/2013 08:23,159.0,"Great Marlborough Street, Soho",04/01/2013 08:08,86,"Sancroft Street, Vauxhall",Fri,2013,1,1,1,4,8,8
18,18922728,33.516667,7554.0,04/01/2013 18:00,2.0,"Phillimore Gardens, Kensington",04/01/2013 17:27,225,"Notting Hill Gate Station, Notting Hill",Fri,2013,1,1,1,4,17,27
19,18872324,11.200000,6608.0,01/01/2013 06:49,546.0,"New Fetter Lane, Holborn",01/01/2013 06:38,295,"Swan Street, The Borough",Tues,2013,1,1,1,1,6,38
20,18892341,11.200000,4492.0,02/01/2013 07:02,546.0,"New Fetter Lane, Holborn",02/01/2013 06:51,295,"Swan Street, The Borough",Weds,2013,1,1,1,2,6,51
21,18903687,11.533333,3552.0,03/01/2013 06:48,546.0,"New Fetter Lane, Holborn",03/01/2013 06:36,295,"Swan Street, The Borough",Thurs,2013,1,1,1,3,6,36
22,18921196,12.433333,842.0,04/01/2013 06:54,546.0,"New Fetter Lane, Holborn",04/01/2013 06:41,295,"Swan Street, The Borough",Fri,2013,1,1,1,4,6,41
23,18919901,16.450000,3202.0,04/01/2013 15:25,194.0,"Hop Exchange, The Borough",04/01/2013 15:09,386,"Moor Street, Soho",Fri,2013,1,1,1,4,15,9
24,18895284,8.300000,671.0,02/01/2013 17:25,326.0,"Graham Street, Angel",02/01/2013 17:17,227,"Great Percy Street, Clerkenwell",Weds,2013,1,1,1,2,17,17
25,18928454,8.633333,2510.0,04/01/2013 13:41,67.0,"Hatton Garden, Holborn",04/01/2013 13:32,42,"Wenlock Road , Hoxton",Fri,2013,1,1,1,4,13,32
26,18882692,5.866667,1503.0,02/01/2013 07:52,101.0,"Queen Street, Bank",02/01/2013 07:46,78,"Sadlers Sports Centre, Finsbury",Weds,2013,1,1,1,2,7,46
27,18905226,6.166667,3464.0,03/01/2013 08:05,101.0,"Queen Street, Bank",03/01/2013 07:59,78,"Sadlers Sports Centre, Finsbury",Thurs,2013,1,1,1,3,7,59
28,18928163,11.950000,4341.0,04/01/2013 08:10,101.0,"Queen Street, Bank",04/01/2013 07:58,107,"Finsbury Leisure Centre, St. Luke's",Fri,2013,1,1,1,4,7,58
29,18921055,18.050000,7672.0,04/01/2013 15:49,213.0,"Wellington Arch, Hyde Park",04/01/2013 15:31,133,"Derry Street, Kensington",Fri,2013,1,1,1,4,15,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511073,19459463,13.166667,8094.0,03/02/2013 00:04,522.0,"Clinton Road, Mile End",02/02/2013 23:51,202,"Leman Street, Aldgate",Sat,2013,2,1,5,2,23,51
511074,19467168,6.266667,8088.0,02/02/2013 23:57,503.0,"Cleveland Way, Bethnal Green",02/02/2013 23:51,33,"Altab Ali Park, Whitechapel",Sat,2013,2,1,5,2,23,51
511075,19471016,5.716667,3817.0,02/02/2013 23:57,466.0,"Whiston Road, Haggerston",02/02/2013 23:51,31,"Fanshaw Street, Hoxton",Sat,2013,2,1,5,2,23,51
511076,19460303,5.066667,542.0,02/02/2013 23:57,495.0,"Bow Church Station, Bow",02/02/2013 23:52,467,"Southern Grove, Bow",Sat,2013,2,1,5,2,23,52
511077,19464755,2.783333,857.0,02/02/2013 23:55,33.0,"Altab Ali Park, Whitechapel",02/02/2013 23:52,115,"Braham Street, Aldgate",Sat,2013,2,1,5,2,23,52
511078,19473800,10.050000,4271.0,03/02/2013 00:02,87.0,"Devonshire Square, Liverpool Street",02/02/2013 23:52,237,"Vaughan Way, Wapping",Sat,2013,2,1,5,2,23,52
511079,19462082,8.133333,8997.0,03/02/2013 00:01,64.0,"William IV Street, Strand",02/02/2013 23:53,221,"Horseferry Road, Westminster",Sat,2013,2,1,5,2,23,53
511080,19469698,6.000000,8408.0,02/02/2013 23:59,219.0,"Bramham Gardens, Earl's Court",02/02/2013 23:53,163,"Sloane Avenue, Knightsbridge",Sat,2013,2,1,5,2,23,53
511081,19468900,4.500000,5112.0,02/02/2013 23:58,399.0,"Brick Lane Market, Shoreditch",02/02/2013 23:53,251,"Brushfield Street, Liverpool Street",Sat,2013,2,1,5,2,23,53
511082,19462367,25.483333,7663.0,03/02/2013 00:19,173.0,"Waterloo Roundabout, Waterloo",02/02/2013 23:53,278,"Tooley Street, Bermondsey",Sat,2013,2,1,5,2,23,53
511083,19474190,4.600000,3892.0,02/02/2013 23:58,355.0,"Oval Way, Lambeth",02/02/2013 23:54,144,"Kennington Cross, Kennington",Sat,2013,2,1,5,2,23,54
511084,19461318,25.033333,1210.0,03/02/2013 00:19,173.0,"Waterloo Roundabout, Waterloo",02/02/2013 23:54,278,"Tooley Street, Bermondsey",Sat,2013,2,1,5,2,23,54
511085,19470000,17.016667,3423.0,03/02/2013 00:11,533.0,"Wellington Row, Bethnal Green",02/02/2013 23:54,93,"Cloudesley Road, Angel",Sat,2013,2,1,5,2,23,54
511086,19463107,4.266667,6113.0,02/02/2013 23:58,355.0,"Oval Way, Lambeth",02/02/2013 23:54,144,"Kennington Cross, Kennington",Sat,2013,2,1,5,2,23,54
511087,19472566,14.866667,7599.0,03/02/2013 00:09,553.0,"Regent's Row , Haggerston",02/02/2013 23:54,95,"Aldersgate Street, Barbican",Sat,2013,2,1,5,2,23,54
511088,19469569,16.583333,3326.0,03/02/2013 00:11,533.0,"Wellington Row, Bethnal Green",02/02/2013 23:54,93,"Cloudesley Road, Angel",Sat,2013,2,1,5,2,23,54
511089,19472770,45.500000,3900.0,03/02/2013 00:40,354.0,"Northumberland Avenue, Strand",02/02/2013 23:55,64,"William IV Street, Strand",Sat,2013,2,1,5,2,23,55
511090,19464003,83.766667,9146.0,03/02/2013 01:18,39.0,"Shoreditch High Street, Shoreditch",02/02/2013 23:55,483,"Albert Gardens, Stepney",Sat,2013,2,1,5,2,23,55
511091,19470500,9.933333,8363.0,03/02/2013 00:05,39.0,"Shoreditch High Street, Shoreditch",02/02/2013 23:55,115,"Braham Street, Aldgate",Sat,2013,2,1,5,2,23,55
511092,19461182,16.216667,4682.0,03/02/2013 00:11,33.0,"Altab Ali Park, Whitechapel",02/02/2013 23:55,483,"Albert Gardens, Stepney",Sat,2013,2,1,5,2,23,55
511093,19465872,5.316667,499.0,03/02/2013 00:01,270.0,"Kennington Lane Rail Bridge, Vauxhall",02/02/2013 23:56,91,"Walnut Tree Walk, Vauxhall",Sat,2013,2,1,5,2,23,56
511094,19468808,38.650000,1067.0,03/02/2013 00:34,483.0,"Albert Gardens, Stepney",02/02/2013 23:56,386,"Moor Street, Soho",Sat,2013,2,1,5,2,23,56
511095,19459341,11.166667,9023.0,03/02/2013 00:08,515.0,"Russell Gardens, Holland Park",02/02/2013 23:57,573,"Limerston Street, Chelsea",Sat,2013,2,1,5,2,23,57
511096,19467055,11.366667,7703.0,03/02/2013 00:09,14.0,"Belgrove Street , King's Cross",02/02/2013 23:57,135,"Clerkenwell Green, Clerkenwell",Sat,2013,2,1,5,2,23,57
511097,19471392,6.233333,8222.0,03/02/2013 00:04,77.0,"Russell Square Station, Bloomsbury",02/02/2013 23:58,256,"Houghton Street, Strand",Sat,2013,2,1,5,2,23,58
511098,19460946,490.833333,2475.0,03/02/2013 08:09,64.0,"William IV Street, Strand",02/02/2013 23:58,64,"William IV Street, Strand",Sat,2013,2,1,5,2,23,58
511099,19464626,13.716667,6270.0,03/02/2013 00:12,344.0,"Goswell Road (City Uni), Finsbury",02/02/2013 23:59,162,"Southampton Place, Holborn",Sat,2013,2,1,5,2,23,59
511100,19462054,41.216667,522.0,03/02/2013 00:40,354.0,"Northumberland Avenue, Strand",02/02/2013 23:59,64,"William IV Street, Strand",Sat,2013,2,1,5,2,23,59
511101,19473684,5.316667,8924.0,03/02/2013 00:04,479.0,"Pott Street, Bethnal Green",02/02/2013 23:59,132,"Bethnal Green Road, Shoreditch",Sat,2013,2,1,5,2,23,59
511102,19466895,17.400000,6671.0,03/02/2013 00:16,68.0,"Theobalds Road , Holborn",02/02/2013 23:59,194,"Hop Exchange, The Borough",Sat,2013,2,1,5,2,23,59

In [63]:
pd.to_datetime(data['Start Date'],format='%d/%m/%Y %H:%M').dt.quarter

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
511073    1
511074    1
511075    1
511076    1
511077    1
511078    1
511079    1
511080    1
511081    1
511082    1
511083    1
511084    1
511085    1
511086    1
511087    1
511088    1
511089    1
511090    1
511091    1
511092    1
511093    1
511094    1
511095    1
511096    1
511097    1
511098    1
511099    1
511100    1
511101    1
511102    1
Name: Start Date, dtype: int64

In [59]:
pd.to_datetime(data['Start Date'],format='%d/%m/%Y %H:%M').isocalendar()[1]

AttributeError: 'Series' object has no attribute 'isocalendar'